@font-face {
   font-family: 'Neon';
   font-display: swap;
   src: url('file:///Users/antoineb/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2019-11-07_172757/fonts/Neon/font.ttf');
}
